[submodule "gruvbox-rofi"]
	path = gruvbox-rofi
	url = https://github.com/bardisty/gruvbox-rofi
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "yazi/flavors"]
	path = yazi/flavors
	url = https://github.com/yazi-rs/flavors
