set $alt Mod1

input type:keyboard xkb_layout proybasic
input type:keyboard xkb_options lv3:ralt_switch,caps:ctrl_modifier,altwin:swap_alt_win,grp:alt_shift_toggle
input type:keyboard repeat_delay 300
input type:keyboard repeat_rate 50

bindsym --no-warn $mod+space exec $menurun
bindsym --no-warn $mod+Shift+space exec $menu
bindsym $mod+Shift+Return exec foot
bindsym $mod+Alt+slash exec "todo.sh rofi listall @work"
bindsym $mod+Shift+slash exec "todo.sh timetrack stop"
bindsym $mod+Control+slash exec "foot -e todo.sh edit"
bindsym $mod+slash exec "todo.sh rofi list @work"
bindsym $mod+backslash exec "todo.sh rofi list -@work"
bindsym $mod+Alt+backslash exec "todo.sh rofi listall -@work"
bindsym $mod+Shift+backslash exec "todo.sh timetrack stop"
bindsym $mod+Control+backslash exec "foot -e todo.sh edit"
bindsym $mod+dead_acute exec "todo.sh rofi list @calendar"
bindsym $mod+apostrophe exec "todo.sh rofi list @calendar"
bindsym $mod+Escape exec ~/dotfiles/scripts/lock.sh
bindsym $alt+Escape exec ~/dotfiles/scripts/lock.sh

bindsym $alt+F2 exec /home/proycon/bin/lala
bindsym $alt+Shift+F2 exec killall snapclient; exec mpc stop
bindsym $mod+F3 exec /home/proycon/dotfiles/scripts/homecommand.sh
bindsym $alt+F3 exec /home/proycon/dotfiles/scripts/homecommand.sh mute
bindsym $mod+F4 exec /home/proycon/dotfiles/scripts/screenshot.sh
bindsym $mod+Shift+F4 exec /home/proycon/dotfiles/scripts/screenshot.sh region
bindsym $alt+F5 exec /home/proycon/dotfiles/scripts/emojiselect
bindsym --no-warn $mod+Shift+e exec /home/proycon/dotfiles/scripts/translate.sh
bindsym $mod+n exec /home/proycon/dotfiles/scripts/network-menu.sh

bindsym $mod+F9 exec swaymsg input type:keyboard xkb_layout proybasic && play ~/dotfiles/media/key.wav
bindsym $alt+F9 exec swaymsg input type:keyboard xkb_layout proylatin && play ~/dotfiles/media/key.wav
bindsym $alt+F10 exec swaymsg input type:keyboard xkb_layout proyeo && play ~/dotfiles/media/key.wav
bindsym $alt+F11 exec swaymsg input type:keyboard xkb_layout proyru && play ~/dotfiles/media/key.wav
bindsym $alt+Shift+F11 exec swaymsg input type:keyboard xkb_layout proyel && play ~/dotfiles/media/key.wav
bindsym $alt+F12 exec swaymsg input type:keyboard xkb_layout proyar && play ~/dotfiles/media/key.wav
bindsym $alt+Shift+F12 exec swaymsg input type:keyboard xkb_layout proylogi && play ~/dotfiles/media/key.wav
