<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="Openbox 3">
    <item label="Terminal emulator (default)" icon="/usr/share/icons/Faenza/apps/16/terminal.png">
    <action name="Execute"><execute>x-terminal-emulator</execute></action>
  </item>
  <item label="Windowed terminal" icon="/usr/share/icons/Faenza/apps/16/terminal.png">
    <action name="Execute"><execute>gnome-terminal</execute></action>
  </item>
  <item label="File manager" icon="/usr/share/icons/Faenza/apps/16/file-manager.png">
    <action name="Execute"><execute>pcmanfm</execute></action>
  </item>
  <item label="Web browser" icon="/usr/share/icons/Faenza/apps/16/chromium.png">
    <action name="Execute"><execute>x-www-browser</execute></action>
  </item>
  <item label="IM (Pidgin)" icon="/usr/share/icons/Faenza/apps/16/empathy.png">
    <action name="Execute"><execute>pidgin</execute></action>
  </item>
  <item label="Editor (vim)" icon="/usr/share/icons/Faenza/apps/16/vim.png">
    <action name="Execute"><execute>terminator -e "tm vim"</execute></action>
  </item>
  <item label="Mail (mutt)" icon="/usr/share/icons/Faenza/apps/16/claws-mail.png">
    <action name="Execute"><execute>terminator -e "tm mutt"</execute></action>
  </item>
  <item label="IRC (irssi)" icon="/usr/share/icons/Faenza/apps/16/xchat.png">
    <action name="Execute"><execute>terminator -e "tm irssi"</execute></action>
  </item>
  <item label="Music" icon="/usr/share/icons/Faenza/apps/16/minitunes.png">
    <action name="Execute"><execute>terminator -e ncmpcpp</execute></action>
  </item>
  <item label="Viewer" icon="/usr/share/icons/Faenza/apps/16/eog.png">
    <action name="Execute"><execute>eog</execute></action>
  </item>
  <item label="Gimp" icon="/usr/share/icons/Faenza/apps/16/gimp.png">
    <action name="Execute"><execute>gimp</execute></action>
  </item>
  <separator />
  <menu id="actions-menu" label="Actions">
        <item label="Mount ssh">
        <action name="Execute"><execute>mountssh</execute></action>
        </item>
        <item label="Connect to music stream">
        <action name="Execute"><execute>lala</execute></action>
        </item>
        <item label="Reset keymap (Proylatin)">
        <action name="Execute"><execute>setxkbmap proylatin</execute></action>
        </item>
        <item label="Reset keymap (US)">
            <action name="Execute"><execute>setxkbmap us</execute></action>
        </item>
        <item label="xkill">
            <action name="Execute"><execute>xkill</execute></action>
        </item>
        <item label="Reconfigure openbox">
            <action name="Reconfigure" />
        </item>
        <item label="Restart openbox">
            <action name="Restart" />
        </item>
  </menu>
  <separator />
  <!-- This requires the presence of the 'menu' package to work -->
  
  <menu id="/Debian" label="Full Menu" />
  
  <separator />

  <menu id="client-list-menu" />
			
  <separator />

  <menu id="config" label="Configuration">
    <item label="Openbox Configuration">
        <action name="Execute"><execute>obconf</execute></action>
    </item>
    <item label="Reconfigure openbox">
        <action name="Reconfigure" />
    </item>
    <item label="Restart openbox">
        <action name="Restart" />
    </item>
  <separator />

    <item label="Gnome Control Center">
        <action name="Execute"><execute>gnome-control-center</execute></action>
    </item>
    <item label="Gnome Tweak Tool">
        <action name="Execute"><execute>gnome-tweak-tool</execute></action>
    </item>
  </menu>

  <separator />
  <item label="Lock Screen" icon="/usr/share/icons/Faenza/apps/16/gdm.png">
	<action name="Execute"> <execute>gnome-screensaver-command -a</execute></action>
  </item>    
  <item label="Suspend" icon="/usr/share/icons/Faenza/apps/16/xscreensaver.png">
	<action name="Execute"> <execute>suspend.sh</execute></action>
  </item> 
  <menu id="system" label="Shutdown &amp; Reboot">
  <item label="Reboot" icon="/usr/share/icons/Faenza/apps/16/gnome-session-reboot.png">
	<action name="Execute"> <execute>sudo shutdown -r now</execute></action>
  </item>
  <item label="Shut down" icon="/usr/share/icons/Faenza/apps/16/gnome-logout.png">
      <action name="Execute"> <execute>sudo shutdown -h now</execute></action>
  </item>
  <item label="Exit Session">
    <action name="Exit" />
  </item>
  </menu>
  <separator />
</menu>

</openbox_menu>
